* {padding: 0; margin:0;}
:root {
    --blue: #587792;
    --tan: #D4CB92;
    --kushgreen: #395C6B;
    --sadblue: #80A4ED;
    --nobreathblue: #BCD3F2;
    --pale: #FFEAD0;
    --distance: #F4ECD6;
    --light_taupe: #AD8A64;
    --further: #4C5760;
    --platinum : #E8EBE4;
}
html {height: 100%;}
body {height: 100%; background: var(--light_taupe);}
header{height: 10%; background: var(--distance);}
main{height: 80%; background: var(--tan);}
footer{height: 10%; background: var(--kushgreen);}
article {height: 100%; background: var(--platinum); width: 60%; float:left;}
aside {height: 100%; /*background: var(nobreathblue);*/ width: 40%; float: right;}
article {overflow-y: scroll;}
article section {margin-bottom: 5%; padding-left: 2%;}
article section h1 {margin-bottom: 3%;}
article section p {padding-left: 3%;}

#logo, #space, #topic1,
#topic2, #topic3 {height: 100%; width: 20%; float: left;}
#logo img {max-height: 100%; max-width: 100%;}
#topic1, #topic2, #topic3, footer 
{
    color: var(--kushgreen);
    box-sizing: border-box;
    padding-top: 2%;
    font-size: 150%;
}
footer {text-align: center; padding-top:2%;}

img {border-radius: 1%;}
aside {text-align: center;}
.helper {
display: inline-block;
width: 0%;
height: 100%;
vertical-align: middle;
}
aside img { 
max-width: 95%; max-height: 99%; opacity: 0;
transition: opacity 500ms; vertical-align: middle;
}
main:hover aside img {opacity: 1;}

a {text-decoration: none; color:var(--kushgreen);}
article > h1 {text-align: center;}
section img {max-height: 45%; max-width: 45%;}
.img-center {text-align: center;}